*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(0, 0%, 8%);
    padding: 0;
    margin: 0;
    
}

main {
    background-color:  hsl(0, 0%, 12%);
    margin: 5em auto;
    border-radius: 20px;
    padding: 20px;
    min-width: 375px;
    max-width: 150px;
    text-align: center;

}

main img{
    margin: 30px auto;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.name {
    color: hsl(0, 0%, 100%);
    margin-bottom: 4px;
}

.address {
    color: hsl(75, 94%, 57%);
}

.about {
    color: hsl(0, 0%, 44%);
}

nav {
    height: auto;
    padding: 0 20px;
}



nav  a{
    background-color: hsl(0, 0%, 20%);
    margin: 10px auto;
    height: 30px;
    width: 100%;
    padding: 0;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    display: block; 
    padding-top: 7px;
}

nav a:hover {
    background-color: hsl(75, 94%, 57%);
}
